[Desktop Entry]
Type=Application
Name=gzgspg
Name[zh_CN]=广工商校园网登录器
Comment=广工商校园网登录器
Comment[zh_CN]=广工商校园网登录器
Exec=gzgspg
Icon=gzgspg
Terminal=false
Categories=Network;
StartupNotify=true
